.add-chat-button {
margin-top: 10px; 
display: flex;
width: 3rem;
min-width: 3rem;
padding: 0.938rem 0.938rem 0 0.938rem;
  width: 100%;

}

.add-chat-button:hover {
  background-color: hsla(0, 0%, 80%, 0.707); /* Example hover effect */
}

.add-chat-button i {
  margin-right: 5px;
}

  
  .chat-history-list {
    list-style: none;
    padding: 12px;
    margin-left: 20px;
    margin: 0;
    background-color: transparent;
  }
  
  .chat-history-item {
    color: #ddd;
    border-bottom: none;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .logo-container{
    display: flex;
    align-items: center;
    padding: 2.3rem 0.938rem 0 0.938rem ;
    width: 100%;


}
.chat-div {
  /* Ajoutez des styles de mise en page et de positionnement si nécessaire */
}

.conversation-list {
  height: 200px; /* Hauteur de la zone d'affichage avec défilement */
  overflow-y: auto; 
  margin-top: 15px;

  /* Styles de la barre de défilement */
  scrollbar-width: thin; /* Largeur de la barre de défilement */
  scrollbar-color:hsla(0, 0%, 95%, 0.707) hsla(240, 4%, 86%, 0); /* Couleur de la poignée et couleur de fond */
}

.conversation-item {
  padding: 10px;
  border-bottom: 1px solid hsl(220, 2%, 76%); /* Bordure inférieure pour séparer les éléments de la liste */
}

.conversation-name {
  color: hsl(220, 2%, 76%); /* Couleur du texte du nom de la conversation */
  font-size: 16px; /* Taille de la police du nom de la conversation */
  font-weight: normal; /* Style de police en gras pour le nom de la conversation */
}
.font-circular-std-black-20 {
  font-family: 'CircularStd-Black', sans-serif; /* Assurez-vous que la police est correctement chargée */
  font-weight: 400; /* Poids de la police */
  font-size: 15px; /* Taille de la police */
  color: hsl(220, 2%, 76%);
  
}
.dropdown-menu {
  position: relative;
  display: inline-block;
  margin-left: 80px;
  border-top: none;

}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: hsla(0, 0%, 80%, 0.822);
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  top: 25px; /* Ajustez la position verticale selon vos besoins */
  right: 0; /* Ajustez la position horizontale selon vos besoins */
  z-index: 1;
}

.dropdown-menu ul li {

  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-menu ul li:hover {
  background-color: hsla(0, 0%, 80%, 0.707);
}

