<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="message-list">
        <ng-container *ngFor="let message of messages">
          <div class="message-container">
            <div class="message avatar" [ngClass]="{ 'from': message.sender === 'bot', 'to': message.sender === 'user' }">
              <img *ngIf="message.sender === 'user'"class="rounded-circle"  [src]=" imgPrefix + currentUser?.userInfo?.avatar " alt="avatar" height="40" width="40" alt="Avatar Utilisateur">
              <img *ngIf="message.sender === 'bot'" class="rounded-circle" src="assets/logo.png" alt="logo" height="40" width="40" alt="Avatar Bot">
              {{ message.text }}
            </div>
          </div>
        </ng-container>
      </div>
      
      <div class="row message-input-row">
        <div class="col-md-6">
          <div class="input-group">
            <input [(ngModel)]="value" (keyup.enter)="sendMessage()" type="text" class="form-control" placeholder="Entrez votre message..." aria-label="Message" aria-describedby="button-addon2">
            <div class="input-group-append">
              <button (click)="startRecording()" class="btn btn-outline-primary-icon" type="button">
                <i class="fa fa-microphone"></i> 
              </button>
              
              <button (click)="sendMessage()" class="btn btn-outline-primary" type="button" id="button-addon2">Envoyer</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
