<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel1">{{ title ? title : "Confirmation"}}</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('canceled')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <p class="font-medium-1 font-weight-bold">{{message}}</p>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-flat-secondary" (click)="activeModal.close('canceled')" rippleEffect>
        {{cancelButtonText ? cancelButtonText : "Annuler"}}
      </button>

    <button type="button" class="btn" [class]="'btn-' + modalClass" (click)="activeModal.close('confirmed')" rippleEffect>
      {{buttonText ? buttonText : "Confirmer"}}
    </button>
  </div>